<h1>"Too bad drinking scotch isn't a paying job or Kenny's dad would be a millionaire!" - Eric Cartman</h1>
<p>"It's an Afghanistan goat, so it can't stay here, or else it'll choke on the sweet air of freedom." - Eric Cartman</p>
<p>"Screw you guys, I'm goin' home!" - Eric Cartman</p>
